


.noto-serif-jp- {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
  }
  .dela-gothic-one-regular {
    font-family: "Dela Gothic One", serif;
    font-weight: 400;
    font-style: normal;
  }
    
header {
    text-align:center;
    border: 3px dotted rgb(255, 208, 137);
}

.titles {
    font-size: 60px;
    color: rgb(238, 175, 104);
    padding: 0;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.al {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.mokuji {
    border: 1px solid #ff933b;
    padding: 5px;
    width: 30%;
    margin: auto;
    outline:none;
}

.mokuji a {
        font-family: inherit;
        appearance: none;
        cursor: pointer;
        background-color: transparent;
        text-decoration: none;
        color: rgb(187, 95, 50);
        font-size: 20px;
        border-radius: 5px;
        height: 40px;
        width: 140px;
        margin: 5px;
        transition: color 0.3s;
        
    }
    
.mokuji a:hover {
    color: rgb(232, 160, 72);
}

.time {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 139, 62);
}

.selecc {
    width: 40%;
    margin: auto;
}

.selex {
    text-align: right;
    position: relative;
  display: flex;
  align-items: center;
  margin:10px;
  border: 1px solid #ff933b;
  border-radius: 5px;
}

.selex::before {
    position: absolute;
    right: 15px;
    content: '';
    width: 16px;
    height: 8px;
    background: #ff933b;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

.selec {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    width: 100%;
    letter-spacing: 5px;
    text-align: center;
    padding: 5px;
    color: #ff933b;
    cursor: pointer;
    text-overflow: ellipsis;/*テキストがオーバーしたら'...'で省略*/
    z-index: 1;
    /* 標準のスタイルを無効にする */
    border: none;
    appearance: none;
    outline: none;
    background: transparent;
}


.times {
    margin: auto;
    font-weight: 700;
}

.sabTitles {
    border-radius: 30px;
    text-align: center;
    margin: auto;
    margin-bottom:20px;
    margin-top: 60px;
    width: 90%;
    font-size: 50px;
    border: 1px solid rgb(199, 108, 23);
}
.hani {
    text-align: center;
    font-size: 20px;
}

.Pez {
    margin: auto;
    width: 40%;
    margin-top: 40px;
    text-align: center;
    border: 2px solid rgb(255, 184, 133);
    border-radius: 30px;
}

.Pez-h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.txts {
    font-size: 20px;
}

.stit {
    margin: auto;
    width: 80%;
    font-size: 30px;
    border: 1px solid rgb(255, 184, 133);
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.sstit {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 25px;
    border-bottom: 2px dotted rgb(255, 184, 133);
}

.btn {
    padding: 0;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border: 1px solid rgb(253, 197, 138);
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 140px;
    margin: 5px;
    transition: color 0.3s;
}

.btn:hover {
    color: rgb(232, 160, 72);
}

.Pezz {
    margin: auto;
    width: 95%;
    margin-top: 10px;
    text-align: center;
    border: 3px double rgb(255, 184, 133);
    border-radius: 30px;
    padding: 15px;
}

.Pezz-h3 {
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.txtss {
    margin: auto;
    width: 80%;
    font-size: 20px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 3px dotted rgb(255, 184, 133);
}

footer {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    color: #000000;
  }


.hidden {
    display: none;
}

.ly_cont{
    display: grid;
    place-content: center;
    padding-block: 100px;
  }